<launch>
    <node pkg="move_basic" type="move_basic" name="move_basic" output="screen">  
         <!-- Footprint for obstacle detection -->
         <param name="robot_width" value="0.093"/>
         <param name="robot_front_length" value="0.11"/>
         <param name="robot_back_length" value="0.22"/>
    </node>
</launch>
